@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.title {
  font-weight: bold;
  text-shadow: 0 0 5px black, 0 0 10px white;
  color: white;
}

.para {
  font-family: "Pacifico", cursive;
  text-shadow: 0 0 5px black, 0 0 10px white;
  color: yellow;
}

.title1 {
  font-weight: 560px;
  background-color: white;
  padding: 8px 12px;
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: black;
}

#homedesign {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.smimg {
  margin-top: -160px;
}
.card:hover {
  background-color: #dee2e6;
  cursor: pointer;
  border: "1px solid grey";
}
@media only screen and (max-width: 450px) {
  .smimg {
    margin-top: -100px;
  }
}
