@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.container-fluid {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  #loogo {
    display: none;
  } /* show it on small screens */
}
.logo {
  font-family: "Courier New", Courier, monospace;
  color: white;
  letter-spacing: 5px;
}
.icon {
  border: 1px solid white;
  background-color: aliceblue;
}
.navbar-toggler {
  border: 1px solid white;
  background-color: aliceblue;
}
.brand {
  border-radius: 5px;
}
.logo {
  font-weight: bold;
  padding: 0 10px;
}
.nav-links {
  font-weight: 460px;
  color: white;
}
.nav-links:hover {
  border-bottom: 1px solid white;
}
.img {
  color: white;
}
.navbar {
  background-color: orangered;
}
.input:focus {
  border: none;
}
#sticky {
  position: fixed;
  z-index: 1;
}
